@import 'part:@sanity/base/theme/variables-style';

.root {
  display: block;
  fill: none;
  /* z-index: calc(var(--zindex-portal) + 1); */
  z-index: calc(var(--zindex-popover) + 1);
  pointer-events: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
